.-info {
  margin: 0;
  color: #fff;
}

.box-image {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.box-image::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 228px;
  height: 228px;
  background-image: linear-gradient(to right, #295bff, #e32de9);
  
  z-index: -1;
}

.box-image::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .1;
  width: 228px;
  height: 228px;
  background-image: linear-gradient(to right, #e32de9, #295bff);
}


.box-image img { 
  width: 220px;
  border-radius: 50%;
}

.user-title {
  color: #fff;
  word-wrap: break-word;
  text-align: center;
}

.user-title strong {
  color: #c14bc5;
}

.user-data {
  
}